<head th:fragment="header(title)" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/vue-resource.js"></script>
</head>